
 body{
  font-family: 'Open Sans', sans-serif;
 background-color: LightGray;
 background-image: url(../contact.png);
background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 
 
}

 
#profile{
	float:right;
	text-align:center;
}

.logo img
{         
	 width: 400px;
	 height: 100px;
}





